<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513830495917-as3nel5fmru2a00cfh5ledi1dbsbf0pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513830495917-as3nel5fmru2a00cfh5ledi1dbsbf0pr</string>
	<key>API_KEY</key>
	<string>AIzaSyDLRFv6CnsrtsD1mDV_MwIaf6GJb-b0R2E</string>
	<key>GCM_SENDER_ID</key>
	<string>513830495917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listadecompras</string>
	<key>PROJECT_ID</key>
	<string>lista-de-compras-a3655</string>
	<key>STORAGE_BUCKET</key>
	<string>lista-de-compras-a3655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513830495917:ios:b9b85e7ba1ca4b4a034824</string>
</dict>
</plist>